$clr1: #FEFEFE;
$clr2: #fefefeb3;
$bgc: #181818;
$orange: #FF4A17;
$brown: #241e12;
$gradient1: linear-gradient(180deg, rgba(69,63,171,1) 0%, rgba(9,121,50,1) 50%, rgba(0,212,255,1) 100%);
$gradient9: linear-gradient(90deg, rgba(73,168,85,1) 0%, rgba(155,20,199,1) 100%);
$gradient10: linear-gradient(90deg, rgba(73,168,143,1) 0%, rgba(112,50,179,1) 100%);